<nav class="navbar navbar-expand-lg bg-primary" id="navbar">
    <div class="container-fluid" >
      <span class="navbar-brand active text-white" id="brand-name"  href="/">Employ Review System</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%  if(locals?.currentSessionUser.role === 'admin'){ %>
            <li class="nav-item navbar-nav ">
              <a class="nav-link active" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item navbar-nav ">
              <a class="nav-link active" href="/admin/feedback">View Feedbacks</a>
            </li>
          <% } else{%>
            <li class="nav-item navbar-nav ">
              <a class="nav-link active" href="/employee/dashboard"> Dashboard</a>
            </li>
            <li class="nav-item navbar-nav ">
              <a class="nav-link active" href="/employee/tasks">Task</a>
            </li>
          <% } %>
          
          <%if(locals.currentSessionUser){%>
            <li class="nav-item navbar-nav ">
              <button style="padding: 0;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#showProfileModal" style="display: flex;justify-content: center;align-items: center;">
                <span class="nav-link active" style="color: rgb(255, 162, 2);font-family: impact; font-size: 1.4rem;display: flex;justify-content: center;align-items: center;height:20px" > 
                You :&nbsp; <%= currentSessionUser.name %>
                </span>
              </button>
              </li> 
            <%}%>
        
            
        </ul> 
         
          <a class="nav-link active text-white" href="/signout">Sign Out</a>       
      </div>
    </div>
</nav>




  <!-- show Profile Modal -->
  <div class="modal fade" id="showProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Your Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin: auto;">
           <div class="card">
            <h5 class="card-header">You</h5>
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/128/10809/10809442.png" alt="employee photo">
                <h5 class="card-title">Name: <%= currentSessionUser.name %> </h5>
                <p class="card-text">Email: <%= currentSessionUser.email %> , Password: <%= currentSessionUser.password %></p>
                <p class="">Role: <%= currentSessionUser.role %> 
                  <% if(admin.id === currentSessionUser.id){ %>
                    <small  style="color: rgb(18, 196, 18);font-family: cursive;">(Owner)</small>
                  <% } %>
                </p>
            </div>
           </div>
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Add Employee</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
  </div>