<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal-<%= employee.id%>">
    Update 
    </button>
   <!-- Update Modal -->
  <form action="/admin/update-employee/<%= employee.id%>" method="post" class="modal fade" id="updateModal-<%= employee.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
          <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row g-3">
                  <div class="col-md-12">
                    <label for="employeeName" class="form-label">Employee Name</label>
                    <input required placeholder="@employee name" type="text" class="form-control" id="employeeName" name="name" value="<%= employee.name%>">
                  </div>
                  <div class="col-md-12">
                    <label for="employeeEmail" class="form-label">Email</label>
                    <input required placeholder="email" type="email" class="form-control" id="employeeEmail" name="email"  value="<%= employee.email%>">
                    <div class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="col-md-6">
                    <label for="employeePassword-update-<%= employee.id%>" class="form-label">Password</label>
                    <input required placeholder="password" type="password" class="form-control" id="employeePassword-update-<%= employee.id%>" name="password"  value="<%= employee.password%>">
                  </div>
                  <div class="mb-3 form-check" style="margin-left: 20px;">
                    <input type="checkbox" class="form-check-input" id="showPassword-update-<%= employee.id%>" onclick="updateEmployeeShowPass(event)">
                    <label class="form-check-label" for="showPassword-update-<%= employee.id%>"><small style="color: gray;">Show Password</small></label>
                  </div>
                </div>
          
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update Employee</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </form>


